<div id="tags_wrapper">
  <%= render :partial=>"bookmarks/tags", :locals=>{:tags=>@list.tags} %>
</div>
<div id="bookmarks_wrapper">
  <div id="bookmarks">
     <%= render :partial=>"bookmarks/bookmarks", :locals=>{:bookmarks=>@list.bookmarks, :public_only=>@public_only} %>
  </div>
</div>
<div class="clear"></div>
