<div id="tags_wrapper">
  <%= render :partial=>"bookmarks/tags", :locals=>{:tags=>@list.tags} %>
</div>
<div id="bookmarks_wrapper">
  <div id="bookmarks">
    <% @bookmarks = @list.bookmarks %>
    <% @list.bookmarks.each do |b| %>
      <%= render :partial=>"bookmarks/bookmark", :locals=>{:bookmark=>b} %>
    <%end%>
  </div>
</div>
<div class="clear"></div>
