<div id="tags_wrapper">
  <%= render :partial=>"bookmarks/tag",:collection=>tags, :locals=>{:public_only=>public_only} %>
</div>
<div id="bookmarks_wrapper">
  <div id="bookmarks">  
    <%= render :partial=>"bookmarks/bookmark", :collection=>bookmarks, :locals=>{:public_only=>public_only} %>
    <%= will_paginate bookmarks %>
  </div>
</div>
<div class="clear"></div>
