<div id="tags_wrapper">
  <%= render "bookmarks/tags", :locals=>{:tags=>@tags, :bookmarks=>@bookmarks, :public_only=>@public_only} %>
</div>
<div id="bookmarks_wrapper">
  <div id="bookmarks">  
    <%= render "bookmarks/bookmarks", :locals=>{:bookmarks=>@bookmarks, :public_only=>@public_only} %>
  </div>
</div>
<div class="clear"></div>
