/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body, html
{
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Arial;
  font-size: 13px;
}

.clear
{
  clear:both;
}

a:link,
a:active,
a:visited
{
 text-decoration: none;
 color: green;
}

a:hover
{
  text-decoration: underline;
}

.item_title
{
  font-weight: bold;
}

