// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tags_wrapper
{
  float: left;
  width: 10%;
}

#bookmarks_wrapper
{
  float: right;
  width: 90%;
}

.bookmark_item
{
  margin:20px 0px 20px 0px;
  padding: 10px 5px;
  border-bottom: 1px dotted;
}
